.MuiBox-root
	&.green
		background-color: green
		color: white
		text-shadow: 1px 1px lightgrey
	
	&.red
		background-color: red
		color: white
		text-shadow: 1px 1px lightgrey
		
	&.blue
		background-color: blue
		color: white	
		text-shadow: 1px 1px lightgrey
	
	&.black
		background-color: black
		color: white
		text-shadow: 1px 1px lightgrey
		
	&.white
		background-color: white
		color: black
		text-shadow: 1px 1px lightgrey
	
	&.yellow
		background-color: yellow
		color: black
		text-shadow: 1px 1px lightgrey